<!DOCTYPE html>
<html>
  <head>
    <title>Conveyor Belt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.11.0/styles/default.min.css">

    <script src="//cdn.jsdelivr.net/g/jquery@1.11.3,velocity@1.5.0,tweene(tweene-velocity.min.js)"></script>
    <script src="//cdn.jsdelivr.net/highlight.js/9.11.0/highlight.min.js"></script>
    
    <!-- make Object.keys() available in browsers that do not support -->
    <script src="/js/object-keys-polyfill.js"></script>

    <script src="/iotf-client-bundle.min.js"></script>
    
    <script src="/js/conveyor-belt.js"></script>
  </head>
  <body>
    <div class="header">
        <img src="images/logo.png" />
        IBM <b>Watson IoT</b> Platform
    </div>
    
    <div class="row noPaddingRow">
        <div id="svg-container" class="column-6-med">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 1073.523 703" style="enable-background:new 0 0 1073.523 703;" xml:space="preserve" class="conveyor-belt">
                <rect id="XMLID_2_" style="fill:#F5F7FA;" width="1073.523" height="703"/>

                <path id="XMLID_127_" style="fill:#E3EAF2;" d="M1019.56,689.02c0,3.63-11.24,6.91-29.36,9.27c-6.28,0.81-13.38,1.52-21.13,2.08
                    c-1.85,0.14-3.74,0.27-5.67,0.38c-12.52,0.78-26.5,1.22-41.24,1.22c-20.12,0-38.81-0.81-54.33-2.2c-5.44-0.49-10.48-1.05-15.06-1.66
                    h-0.01c-17.32-2.35-28-5.55-28-9.09c0-3.58,10.91-6.81,28.54-9.15c12.19-1.62,27.58-2.81,44.81-3.39c2.45-0.09,4.95-0.16,7.48-0.21
                    c1.87-0.05,3.76-0.08,5.67-0.11c2.36-0.03,4.75-0.06,7.16-0.07c1.24-0.01,2.49-0.01,3.74-0.01c26.75,0,50.97,1.43,68.57,3.75
                    C1008.53,682.17,1019.56,685.42,1019.56,689.02z"/>
                
                <g id="box-1" class="iot-box">
                    <path id="XMLID_63_" style="fill:#FDBB50;" d="M265.521,351.98v113.38c0,6.6-5.4,12-12,12h-113.37c-6.6,0-12-5.4-12-12V351.98
                        c0-6.6,5.4-12,12-12h113.37C260.121,339.98,265.521,345.38,265.521,351.98z"/>
                    <path id="XMLID_53_" style="fill:#FFFFFF;" d="M265.521,399.21v5.67h-34.72c-1.57,0-2.84,1.27-2.84,2.83v22.43
                        c0,0.78-0.32,1.5-0.83,2.01c-0.51,0.51-1.22,0.83-2,0.83c-1.56,0-2.83-1.27-2.83-2.84v-28.09c0-1.57,1.27-2.84,2.83-2.84H265.521z"
                        />
                    <path id="XMLID_54_" style="fill:#FFFFFF;" d="M171.641,364.82v20.85c0,0.79-0.31,1.49-0.83,2c-0.51,0.51-1.22,0.83-2,0.83
                        c-1.56,0-2.83-1.26-2.83-2.83v-15.18c0-1.57-1.27-2.83-2.84-2.83h-34.99v-5.67h40.66C170.381,361.99,171.641,363.26,171.641,364.82
                        z"/>
                    <rect id="XMLID_47_" x="127.642" y="419.527" style="fill:#FFFFFF;" width="62.403" height="5.667"/>
                    <path id="XMLID_56_" style="fill:#FFFFFF;" d="M248.191,363.86c0,1.56-1.27,2.83-2.83,2.83h-46.12c-1.56,0-2.83-1.27-2.83-2.83
                        v-23.88h5.66v18.21c0,1.57,1.27,2.84,2.84,2.84h40.45c0.78,0,1.49,0.32,2,0.83S248.191,363.08,248.191,363.86z"/>
                    <path id="XMLID_58_" style="fill:#FFFFFF;" d="M211.631,453.68v23.68h-5.67v-23.68c0-1.57,1.27-2.84,2.84-2.84
                        C210.361,450.84,211.631,452.11,211.631,453.68z"/>
                    <path id="XMLID_57_" style="fill:#FFFFFF;" d="M265.521,383.03v5.67h-14.49c-1.57,0-2.84-1.27-2.84-2.84
                        c0-1.56,1.27-2.83,2.84-2.83H265.521z"/>
                    <circle id="XMLID_49_" style="fill:#EE302F;" cx="248.194" cy="363.86" r="10.617"/>
                    <circle id="XMLID_48_" style="fill:#EE302F;" cx="190.045" cy="422.361" r="10.617"/>
                    <rect id="XMLID_60_" x="158.191" y="447.13" style="fill:#FFFFFF;" width="5.67" height="30.23"/>
                    <circle id="XMLID_45_" style="fill:#EE302F;" cx="161.024" cy="447.133" r="10.617"/>
                    <circle id="XMLID_44_" style="fill:#EE302F;" cx="168.812" cy="388.505" r="10.617"/>
                    <circle id="XMLID_43_" style="fill:#EE302F;" cx="225.169" cy="432.977" r="10.617"/>
                </g>

                <g id="box-2" class="iot-box">
                    <path id="XMLID_63_" style="fill:#FDBB50;" d="M265.521,351.98v113.38c0,6.6-5.4,12-12,12h-113.37c-6.6,0-12-5.4-12-12V351.98
                        c0-6.6,5.4-12,12-12h113.37C260.121,339.98,265.521,345.38,265.521,351.98z"/>
                    <path id="XMLID_53_" style="fill:#FFFFFF;" d="M265.521,399.21v5.67h-34.72c-1.57,0-2.84,1.27-2.84,2.83v22.43
                        c0,0.78-0.32,1.5-0.83,2.01c-0.51,0.51-1.22,0.83-2,0.83c-1.56,0-2.83-1.27-2.83-2.84v-28.09c0-1.57,1.27-2.84,2.83-2.84H265.521z"
                        />
                    <path id="XMLID_54_" style="fill:#FFFFFF;" d="M171.641,364.82v20.85c0,0.79-0.31,1.49-0.83,2c-0.51,0.51-1.22,0.83-2,0.83
                        c-1.56,0-2.83-1.26-2.83-2.83v-15.18c0-1.57-1.27-2.83-2.84-2.83h-34.99v-5.67h40.66C170.381,361.99,171.641,363.26,171.641,364.82
                        z"/>
                    <rect id="XMLID_47_" x="127.642" y="419.527" style="fill:#FFFFFF;" width="62.403" height="5.667"/>
                    <path id="XMLID_56_" style="fill:#FFFFFF;" d="M248.191,363.86c0,1.56-1.27,2.83-2.83,2.83h-46.12c-1.56,0-2.83-1.27-2.83-2.83
                        v-23.88h5.66v18.21c0,1.57,1.27,2.84,2.84,2.84h40.45c0.78,0,1.49,0.32,2,0.83S248.191,363.08,248.191,363.86z"/>
                    <path id="XMLID_58_" style="fill:#FFFFFF;" d="M211.631,453.68v23.68h-5.67v-23.68c0-1.57,1.27-2.84,2.84-2.84
                        C210.361,450.84,211.631,452.11,211.631,453.68z"/>
                    <path id="XMLID_57_" style="fill:#FFFFFF;" d="M265.521,383.03v5.67h-14.49c-1.57,0-2.84-1.27-2.84-2.84
                        c0-1.56,1.27-2.83,2.84-2.83H265.521z"/>
                    <circle id="XMLID_49_" style="fill:#EE302F;" cx="248.194" cy="363.86" r="10.617"/>
                    <circle id="XMLID_48_" style="fill:#EE302F;" cx="190.045" cy="422.361" r="10.617"/>
                    <rect id="XMLID_60_" x="158.191" y="447.13" style="fill:#FFFFFF;" width="5.67" height="30.23"/>
                    <circle id="XMLID_45_" style="fill:#EE302F;" cx="161.024" cy="447.133" r="10.617"/>
                    <circle id="XMLID_44_" style="fill:#EE302F;" cx="168.812" cy="388.505" r="10.617"/>
                    <circle id="XMLID_43_" style="fill:#EE302F;" cx="225.169" cy="432.977" r="10.617"/>
                </g>
                
                <path id="belt" style="fill:#294b6e;" d="M770.078,526.524H-28.41c-13.578,0-24.687-11.109-24.687-24.687v0
                    c0-13.578,11.109-24.687,24.687-24.687h798.488c13.578,0,24.687,11.109,24.687,24.687v0
                    C794.765,515.415,783.656,526.524,770.078,526.524z"/>
                <polygon id="XMLID_21_" style="fill:#376393;" points="758.177,526.524 648.532,701.972 -19.862,701.972 -19.862,526.524 "/>
                <circle id="XMLID_22_" style="fill:#1e3949;" cx="766.79" cy="502.085" r="15.1"/>
                <circle id="XMLID_24_" style="fill:#1e3949;" cx="726.437" cy="502.085" r="15.1"/>
                <circle id="XMLID_26_" style="fill:#1e3949;" cx="684.868" cy="502.085" r="15.1"/>
                <circle id="XMLID_25_" style="fill:#1e3949;" cx="644.514" cy="502.085" r="15.1"/>
                <circle id="XMLID_30_" style="fill:#1e3949;" cx="603.892" cy="502.085" r="15.1"/>
                <circle id="XMLID_29_" style="fill:#1e3949;" cx="563.538" cy="502.085" r="15.1"/>
                <circle id="XMLID_28_" style="fill:#1e3949;" cx="521.969" cy="502.085" r="15.1"/>
                <circle id="XMLID_27_" style="fill:#1e3949;" cx="481.616" cy="502.085" r="15.1"/>
                <circle id="XMLID_38_" style="fill:#1e3949;" cx="441.402" cy="502.085" r="15.1"/>
                <circle id="XMLID_37_" style="fill:#1e3949;" cx="401.049" cy="502.085" r="15.1"/>
                <circle id="XMLID_36_" style="fill:#1e3949;" cx="359.48" cy="502.085" r="15.1"/>
                <circle id="XMLID_35_" style="fill:#1e3949;" cx="319.126" cy="502.085" r="15.1"/>
                <circle id="XMLID_34_" style="fill:#1e3949;" cx="278.504" cy="502.085" r="15.1"/>
                <circle id="XMLID_33_" style="fill:#1e3949;" cx="238.15" cy="502.085" r="15.1"/>
                <circle id="XMLID_32_" style="fill:#1e3949;" cx="196.582" cy="502.085" r="15.1"/>
                <circle id="XMLID_31_" style="fill:#1e3949;" cx="156.228" cy="502.085" r="15.1"/>
                <circle id="XMLID_42_" style="fill:#1e3949;" cx="117.514" cy="502.085" r="15.1"/>
                <circle id="XMLID_41_" style="fill:#1e3949;" cx="77.16" cy="502.085" r="15.1"/>
                <circle id="XMLID_40_" style="fill:#1e3949;" cx="35.591" cy="502.085" r="15.1"/>
                <circle id="XMLID_39_" style="fill:#1e3949;" cx="-4.762" cy="502.085" r="15.1"/>

                <rect xmlns="http://www.w3.org/2000/svg" id="XMLID_46_" x="43.108" y="70.238" style="fill:#F5F7FA;" width="316.372" height="157.143"/>

                <path id="dropper" style="fill:#E3EAF2;" d="M296.052,185.013L271.54,151.42c-5.018-6.877-13.02-10.944-21.533-10.944h-99.728
                    c-8.513,0-16.515,4.067-21.533,10.944l-24.512,33.593c-12.852,17.614-0.272,42.368,21.533,42.368h148.752
                    C296.323,227.381,308.904,202.627,296.052,185.013z"/>
                <rect id="XMLID_3_" x="153.331" style="fill:#b0c3d6;" width="94.042" height="140.476"/>
                <line id="XMLID_4_" style="fill:none;stroke:#8EADC0;stroke-width:2;stroke-miterlimit:10;" x1="153.331" y1="89.484" x2="247.373" y2="89.484"/>
                <line id="XMLID_6_" style="fill:none;stroke:#8EADC0;stroke-width:2;stroke-miterlimit:10;" x1="153.331" y1="70.238" x2="247.373" y2="70.238"/>
                <line id="XMLID_7_" style="fill:none;stroke:#8EADC0;stroke-width:2;stroke-miterlimit:10;" x1="153.331" y1="49.512" x2="247.373" y2="49.512"/>
                
                <path xmlns="http://www.w3.org/2000/svg" id="XMLID_100_" style="fill:#F5F7FA;" d="M833.804,683.568c0,0,78.225,27.47,179.711,0.951  c2.288,0.926,6.046,4.501,6.046,4.501V800h-194.8V689.02L833.804,683.568z"/>
                <path xmlns="http://www.w3.org/2000/svg" id="XMLID_109_" style="fill:#E3EAF2;" d="M1019.56,689.02c0,3.63-11.24,6.91-29.36,9.27c-6.28,0.81-13.38,1.52-21.13,2.08  c-1.85,0.14-3.74,0.27-5.67,0.38c-12.52,0.78-26.5,1.22-41.24,1.22c-20.12,0-38.81-0.81-54.33-2.2c-5.44-0.49-10.48-1.05-15.06-1.66  h-0.01c-17.32-2.35-28-5.55-28-9.09l9.04-5.45c0,0,78.23,27.47,179.71,0.95C1015.8,685.45,1019.56,689.02,1019.56,689.02z"/>

                <line xmlns="http://www.w3.org/2000/svg" id="rotator" style="fill:none;stroke:#385472;stroke-width:4;stroke-miterlimit:10;" x1="758.388" y1="510.488" x2="774.52" y2="494.355"/>
                {{!--<animateTransform attributeType="xml"
                        attributeName="transform"
                        type="rotate"
                        from="0 766.454 502.4215"
                        to="360 766.454 502.4215"
                        dur="4s"
                        repeatCount="indefinite"/>--}}
            </svg>
        </div>

        <div class="container column-6-med">
            <div class="controls">
                <div class="buttons">
                    <a href="#" class="btn stop">
                        Stop
                    </a>

                    <a href="#" class="btn start" disabled>
                        Start
                    </a>
                </div>

                <div>
                    <p>
                        <b>
                            Adjust Speed
                        </b>
                    </p>

                    <div class="buttons">
                        <a href="#" class="btn btn-compact speed-down">
                            -
                        </a>

                        <span id="speed-value">
                            1.0x
                        </span>

                        <a href="#" class="btn btn-compact speed-up">
                            +
                        </a>
                    </div>
                </div>
            </div>

            <div id="main" class="main" style="margin-top: 45px;">
                <h2>Your Device ID: 
                    <span id="deviceId" style="font-weight: 300; font-size: 20px;"></span>
                </h2>

                <p style="padding-top: 10px; margin-bottom: 0;">
                    <img id="connectionImage" src="images/disconnected.svg" class="iot-connected-image" style="vertical-align:middle">
                    <span id="connection">Disconnected</span>
                </p>​

                <div class="hidden" id="publishedMessage">
                    <h3 style="margin-bottom: 0;">Published Message:</h3>

                    <pre style="margin-top: 0;">
                        <code class="json" id="publishedMessage">NONE</code>
                    </pre>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-login">
        <div class="modal-content">
            <form id="form-login">
                <p style="line-height: 21px; opacity: 0.85; margin-bottom: 25px;">
                    Enter a unique device ID and token to register a new conveyor belt with the IoT Platform service.
                </p>

                <div class="form-input">
                    <label for="username">Device ID:</label>
                    <input type="text" id="username" />
                </div>

                <div class="form-input">
                    <!-- Password is the Device Token used to register the device-->
                    <label for="password" style="margin-top: 20px;">Password (Token):</label>
                    <input type="password" id="password" />
                </div>

                <p class="message hidden">
                    <span>
                        Please enter <b>a Username</b>
                    </span>
                </p>

                <button href="#">
                    Ok
                </button>
            </form>
        </div>
    </div>
  </body>
</html>